body, html
{
    background: #868686;
    color: #f5f5f5;
}

a:visited, a:link, a:hover, a:active
{
    color: #f5f5f5;
}

.grid-item:hover:not(.main-title)
{
    background-color: #737373;
}

header
{
    background: #000;
}

.header-container
{
    background: #868686;
}

.header-container span
{
    color: rgba(69, 69, 69);
}

.main-element
{
    border-left: 2px solid rgba(69, 69, 69);
}

.main-link
{
    color: rgba(77, 77, 77);
}

.main-title
{
    border-bottom: 3px solid rgba(69, 69, 69, .3);
}