*
{
    margin: 0;
}

body, html
{
    background-color: #5f27cd;
    font-family: 'Lato', sans-serif;
    color: #f5f5f5;
    font-weight: bold;
}

a:visited, a:link
{
    color: #f5f5f5;
    text-decoration: none;
}

a:hover, a:active
{
    color: #f5f5f5;
}

.grid
{
    display: grid; 
    grid-gap: 10px;
    padding: 20px;
    grid-template-columns: repeat(4, minmax(1fr, auto));
    grid-template-rows: repeat(4, minmax(100px, auto));
}

.grid-item
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    transition: all .4s ease;
}

.grid-item:hover:not(.main-title)
{
    background-color: #7149c1;
    transition: all .4s ease;
}

.item-1{ grid-column: 1 / 2; grid-row: 1 / 2; }
.item-2{ grid-column: 1 / 2; grid-row: 2 / 3; }
.item-3{ grid-column: 1 / 2; grid-row: 3 / 4; }
.item-4{ grid-column: 1 / 2; grid-row: 4 / 5; }
.item-5{ grid-column: 2 / 3; grid-row: 1 / 2; }
.item-6{ grid-column: 2 / 3; grid-row: 2 / 3; }
.item-7{ grid-column: 2 / 3; grid-row: 3 / 4; }
.item-8{ grid-column: 2 / 3; grid-row: 4 / 5; }
.item-9{ grid-column: 3 / 4; grid-row: 1 / 2; }
.item-10{ grid-column: 3 / 4; grid-row: 2 / 3; }
.item-11{ grid-column: 3 / 4; grid-row: 3 / 4; }
.item-12{ grid-column: 4 / 5; grid-row: 1 / 2; }
.item-13{ grid-column: 4 / 5; grid-row: 2 / 3; }
.item-14{ grid-column: 4 / 5; grid-row: 3 / 4; }
.item-15{ grid-column: 4 / 5; grid-row: 4 / 5; }

.material-icons.md60
{
    font-size: 60px;
    padding: 0 20px 0;
}

/* Header */

.header-container
{
    width: 1400px;
    height: 30vh;
    margin: 25px auto 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content
{
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.header-content p, .header-content span
{
    padding-bottom: 10px;
}

/* Main */

.main-container
{
    width: 1400px;
    height: 65vh;
    max-height: auto;
    margin: 0 auto 0;
}

.main-title
{
    font-size: 30px;
    padding: 5px;
    align-self: flex-end;
    border-bottom: 3px solid rgba(66, 178, 255, .3);
}

.main-element
{
    padding-left: 20px;
    border-left: 2px solid rgba(66, 178, 193);
}

.main-element-container
{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.main-element-container a
{
    padding-left: 20px;
    border-left: 2px solid rgba(66, 178, 193);
}

.main-link
{
    font-size: 15px;
    display: block;
    color: rgb(66, 178, 255);
    word-break: break-all;
}

/* Footer */

footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
    text-align: center;
}

/* Media queries */

@media only screen and (max-width: 1440px)
{
    *
    {
        overflow-x: hidden; 
    }

    .header-container, .main-container
    {
        max-width: 1400px;
        width: auto;
    }

    .main-title
    {
        width: auto;
    }
}

@media only screen and (max-width: 1024px)
{
    .grid
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8, minmax(100px, auto));
        padding: 10px;
    }

    .item-1{ grid-column: 1 / 2; grid-row: 1 / 2; }
    .item-2{ grid-column: 1 / 2; grid-row: 2 / 3; }
    .item-3{ grid-column: 1 / 2; grid-row: 3 / 4; }
    .item-4{ grid-column: 1 / 2; grid-row: 4 / 5; }
    .item-5{ grid-column: 2 / 3; grid-row: 1 / 2; }
    .item-6{ grid-column: 2 / 3; grid-row: 2 / 3; }
    .item-7{ grid-column: 2 / 3; grid-row: 3 / 4; }
    .item-8{ grid-column: 2 / 3; grid-row: 4 / 5; }
    .item-9{ grid-column: 1 / 2; grid-row: 5 / 6; }
    .item-10{ grid-column: 1 / 2; grid-row: 6 / 7; }
    .item-11{ grid-column: 1 / 2; grid-row: 7 / 8; }
    .item-12{ grid-column: 2 / 3; grid-row: 5 / 6; }
    .item-13{ grid-column: 2 / 3; grid-row: 6 / 7; }
    .item-14{ grid-column: 2 / 3; grid-row: 7 / 8; }
    .item-15{ grid-column: 2 / 3; grid-row: 8 / 9; }

    .header-container, .main-container
    {
        max-width: 1024px;
    }
}

@media only screen and (max-width: 768px)
{
    .header-container, .main-container
    {
        max-width: 768px;
    }
}

@media only screen and (max-width: 480px)
{
    .grid
    {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(15, minmax(100px, auto));
    }

    .item-1{ grid-column: 1 / 2; grid-row: 1 / 2; }
    .item-2{ grid-column: 1 / 2; grid-row: 2 / 3; }
    .item-3{ grid-column: 1 / 2; grid-row: 3 / 4; }
    .item-4{ grid-column: 1 / 2; grid-row: 4 / 5; }
    .item-5{ grid-column: 1 / 2; grid-row: 5 / 6; }
    .item-6{ grid-column: 1 / 2; grid-row: 6 / 7; }
    .item-7{ grid-column: 1 / 2; grid-row: 7 / 8; }
    .item-8{ grid-column: 1 / 2; grid-row: 8 / 9; }
    .item-9{ grid-column: 1 / 2; grid-row: 9 / 10; }
    .item-10{ grid-column: 1 / 2; grid-row: 10 / 11; }
    .item-11{ grid-column: 1 / 2; grid-row: 11 / 12; }
    .item-12{ grid-column: 1 / 2; grid-row: 12 / 13; }
    .item-13{ grid-column: 1 / 2; grid-row: 13 / 14; }
    .item-14{ grid-column: 1 / 2; grid-row: 14 / 15; }
    .item-15{ grid-column: 1 / 2; grid-row: 15 / 16; }

    .header-container, .main-container
    {
        max-width: 480px;
    }
}

@media only screen and (max-width: 320px)
{
    .header-container, .main-container
    {
        max-width: 320px;
    }
}